# Port Cloud Server (Default: 3000)
PORT=3000

# Environment Mode (production / development)
NODE_ENV=production

# App URL / Base URL
VITE_APP_URL=https://ais-dev-jl3thotbk7razyemgdfct6-980311491630.asia-southeast1.run.app
